@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Rubik+Bubbles&display=swap");

body {
  color: white;
  font-family: "Noto Sans KR", sans-serif;
}
.container {
  margin-top: 1rem;
  width: 40%;
}
.chart {
  margin: 1.2rem 0.8rem;
}
.chart h2 {
  margin: 0 5rem 1.2rem;
}
.sliderContainer {
  width: 65%;
  margin: 30px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
