@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Open+Sans:wght@400;600;700&family=Rubik+Bubbles&display=swap");

.mobileNav {
  background-color: black;
}
.menu {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: bold;
  text-align: center;
  list-style: none;
}
.menu li {
  padding: 1rem;
  border-bottom: 1px solid rgb(68, 67, 67);
}
.menu li a {
  text-decoration: none;
  color: white;
  border-radius: 4px;
  padding: 0.2rem 0.7rem;
}
.menu li a:hover {
  background-color: lightgreen;
  color: black;
  transition: all ease 0.5s;
}

@media screen and (min-width: 768px) {
  .mobileNav {
    display: none;
  }
}
