@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Rubik+Bubbles&display=swap");

body {
  color: white;
  font-family: "Open Sans", sans-serif;
}
.container {
  margin-top: 1rem;
  width: 40%;
}
.title {
  font-family: "Kdam Thmor Pro", sans-serif;
}
.chart {
  margin: 1.2rem 0.8rem;
}
.chart h2 {
  margin: 0 5rem 1.2rem;
  font-size: 1.5rem;
}
.sliderContainer {
  width: 65%;
  margin: 30px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.sliderContainer h2 {
  margin: 1rem 0;
  font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
  .chart h2 {
    font-size: 16px;
    margin: 0 2rem;
  }
  .sliderContainer {
    width: 50%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
}
